.detailPageBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/stadium2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    color: #fff;
    text-align: center;
    position: relative;
}
.detailPageBanner img {
    position: absolute;
    height: 100px;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span a {
    font-size: 35px !important;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;;
}
span a:hover {
    color: tomato;
}